html,body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#working_area{
  background-color: grey;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#toolbar{
  background-color: black;
  width: 100%;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.toolcontainer{
  margin: 10px;
}
.tool{
  color: white;
  text-align: center;
  background-color: pink;
  width: 100px;
  height: 100px;
}
.tool:hover{
  cursor: grab;
}
.tool:active{
  cursor: grabbing;
}
